footer.footer {

    padding: 10px 0;
    @include media-breakpoint-up(lg) {
        padding: 30px 0;
        padding-bottom: 0px;
    }    
    background-color: #13294B;
    overflow: hidden;
    color: #FFF;
    a {
        color: #FFF;
        text-decoration: none !important;
    }
    a:hover {
        color: $secondary;
    }
    .footer-top {
        ul {
            display: flex;
            flex-flow: column;
            margin-bottom: 10px;
            li {
                display: flex;
                &:before {
                    content: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.42505 14.5999L6.85838 9.16657C7.50005 8.5249 7.50005 7.4749 6.85838 6.83324L1.42505 1.3999' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    margin-right: 16px;
                    margin-bottom: -2px;
                }
            }
        }
        .wg-ft {
            font-size: 16px;
            margin-bottom: 5px;
            ul {
                li {
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
    }
    .footer-copyright {
        text-align: center;
        padding: 12px 0;
        font-size: 14px;
        background-color: #000;
        @include media-breakpoint-up(md) {
            font-size: 16px;
        }
        color: #FFF;
        // background-color: $secondary;
        p {
            margin: 0;
        }
    }
    
}