body {
  font-family: 'Montserrat', sans-serif;
  font-size  : 16px;
  color      : $main_color;
  font-weight: 400;
  line-height: 1.5;
}


//------ Typography
h6,
.h6 {
  font-size: 16px;
}

h5,
.h5 {
  font-size: 18px;
}

h4,
.h4 {
  font-size: 20px;
}

h3,
.h3 {
  font-size: 24px;
}

h2,
.h2 {
  font-size: 32px;
}

h1,
.h1 {
  font-size: 40px;
}

@include media-breakpoint-up(lg) {

  h6,
  .h6 {
    font-size: 18px;
  }

  h5,
  .h5 {
    font-size: 20px;
  }

  h4,
  .h4 {
    font-size: 24px;
  }

  h3,
  .h3 {
    font-size: 32px;
  }

  h2,
  .h2 {
    font-size: 40px;
  }

  h1,
  .h1 {
    font-size: 48px;
  }
}

// reset ul li
ul.no-bullets {
  margin-left  : 0;
  list-style   : none;
  padding-left : 0;
  margin-bottom: 25px;
}

.no-bullets ul {
  margin-left  : 0;
  list-style   : none;
  padding-left : 0;
  margin-bottom: 25px;
}


// button
.btn-ct {
  background-color: $primary;
  color           : #FFF !important;
  border-width    : 0px;
  border-color    : $primary;
  padding         : 10px 24px;
  line-height     : 24px;
  font-size       : 18px;
  font-weight     : 500;
  border-radius   : 0;
  text-transform  : uppercase;

  &:hover {
    background-color: $secondary;
    border-color    : $secondary;
    box-shadow      : 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &.btn-sm {
    font-size  : 18px;
    font-weight: bold;
    padding    : 6px 20px;
  }

  &--secondary {
    background-color: #FFF;
    color           : $primary !important;
  }

  &--link {
    padding         : 0 !important;
    margin          : 12px 0 !important;
    border          : none !important;
    background-color: transparent !important;
    color           : $primary !important;
    box-shadow      : unset !important;
    display         : inline-flex;
    align-items     : flex-end;

    &:after {
      margin-left: 9px;
      content    : url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6H15' stroke='%23C52128' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 1L15 6L10 11' stroke='%23C52128' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }
}

// title css
.title-primary {
  font-weight  : 700;
  color        : $secondary;
  margin-bottom: 25px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }
}

// section
.section {
  padding-top   : 40px;
  padding-bottom: 40px;

  @include media-breakpoint-up(lg) {
    padding-top   : 50px;
    padding-bottom: 50px;
  }
}

// section bottom
.section-bottom {
  padding-bottom: 40px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 50px;
  }
}

// section top
.section-top {
  padding-top: 40px;

  @include media-breakpoint-up(lg) {
    padding-top: 50px;
  }
}

// pagination
.pagination {
  margin         : 0;
  width          : 100%;
  display        : flex;
  align-items    : center;
  justify-content: center;
  margin-bottom  : 20px;

  .page-numbers {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-weight    : 700;
    padding        : 6px;
    color          : #6D6D6D;
    text-decoration: none;
    transform      : 0.3s;

    &:hover {
      color: $primary;
    }
  }

  .current {
    color: $secondary;
  }

  .prev,
  .next {
    width   : 30px;
    height  : 30px;
    position: relative;

    &::after {
      position : absolute;
      top      : 63%;
      left     : 50%;
      transform: translate(-50%, -50%);
    }
  }

  .prev {
    &::after {
      content: url('../images/pagination_back_secondary.svg');
    }
  }

  .next {
    &::after {
      content: url('../images/pagination_next_secondary.svg');
    }
  }

  .nav-links {
    display        : flex;
    justify-content: center;
    align-items    : center;

    .prev {
      font-size: 0;

      &::after {
        top    : 50%;
        content: url('../images/pagination_back_secondary.svg');
      }
    }

    .next {
      font-size: 0;

      &::after {
        top    : 50%;
        content: url('../images/pagination_next_secondary.svg');
      }
    }
  }
}





// slick css
.slick-slider {

  // button slick
  .slick-arrow {
    height    : 35px;
    width     : 35px;
    background: rgba($color: #FFFFFF, $alpha: 0.5);
    z-index   : 9;

    &:before {
      display: none;
    }

    &.slick-disabled {
      opacity: 0.8;
      cursor : no-drop;
    }
  }

  .slick-next {
    right          : 0px;
    display        : flex;
    align-items    : center;
    justify-content: center;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='15' height='24' viewBox='0 0 15 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.36282 23.6667L0.291992 21.5958L9.88783 12L0.291992 2.40416L2.36282 0.333328L14.0295 12L2.36282 23.6667Z' fill='%232E5288'/%3E%3C/svg%3E%0A");
      height : 20px;
    }
  }

  .slick-prev {
    left           : 0px;
    display        : flex;
    align-items    : center;
    justify-content: center;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='14' height='24' viewBox='0 0 14 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6667 23.6667L0 12L11.6667 0.333328L13.7375 2.40416L4.14167 12L13.7375 21.5958L11.6667 23.6667Z' fill='%232E5288'/%3E%3C/svg%3E%0A");
      height : 20px;
    }
  }

  // dots slick
  .slick-dots {
    bottom: -25px;

    li {
      background   : #585856;
      border-radius: 50%;
      width        : 10px;
      height       : 10px;

      @include media-breakpoint-up(lg) {
        background: #585856;
        width     : 10px;
        height    : 10px;
      }

      button:before {
        display: none;
      }

      button {
        width : 10px;
        height: 10px;

        @include media-breakpoint-up(lg) {
          width : 10px;
          height: 10px;
        }
      }
    }

    .slick-active {
      background: $primary;
    }
  }

  &.slick-dots-inside {
    .slick-dots {
      bottom: 22px;
    }
  }

  &.arrow-in {
    .slick-next {
      right: 15px;
    }

    .slick-prev {
      left: 15px;
    }
  }

  &.arrow-out {
    .slick-next {
      right: -50px;
    }

    .slick-prev {
      left: -50px;
    }
  }
}

.slick-carousel {
  visibility: hidden;
}

// breadcrumbs style
.wrapbreadcrumbs {
  font-size: 12px;

  a {
    color: #3E3E3E;

    &:hover {
      color: $secondary;
    }
  }

  span {
    color: #A6A5A5;
  }
}

.pb-80 {
  padding-bottom: 80px;
}

.bg-white {
  background-color: #ffff;
}

.text-white {
  color: #FFFFFF !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text__more {
  text-decoration: none;
  color          : #C52128;
  font-weight    : 700;
  font-size      : 16px;
  margin-top     : 16px;
  padding-bottom : 24px;
}

.main__title {
  padding-top   : 80px !important;
  color         : #C52128;
  gap           : 8px;
  text-transform: uppercase;
  font-weight   : 700;
  font-size     : 32px;
}

.title_deadline {
  font-weight: 700;
  font-size  : 16px;
}

.line__solid {
  border    : 1px solid #C52128;
  width     : 100px;
  display   : inline-block;
  margin-top: 8px;
}

a.btn-danger {
  min-width  : 240px;
  background : #C52128;
  font-weight: 700;
  color      : #FFFFFF;
  font-size  : 18px;
}

a.btn-outline-danger {
  min-width  : 240px;
  color      : #C52128;
  font-weight: 700;
  background : #FFFFFF;
  font-size  : 18px;
}