// Header
.navbar {
    .container {
        background-color: #FFFFFF !important;

        .navbar-collapse {
            .navbar-nav {
                font-size  : 18px;
                line-height: 22px;

                .nav-item {
                    font-weight: 400;

                    .nav-link {
                        margin: 0 16px;
                    }
                }

                .btn {
                    background : #FFFFFF;
                    border     : 2px solid red;
                    font-weight: 700;
                    margin     : 0 12px;
                }
            }
        }
    }
}

// Section Conference
.section_conference {
    background-color: #213367;
    position        : relative;

    @include media-breakpoint-up(lg) {
        .container {
            .row {
                .left {
                    .title {
                        text-transform: uppercase;
                        padding-top   : 80px;
                    }

                    .subtitle {
                        padding-top   : 26px;
                        text-transform: uppercase;
                        font-style    : normal;
                        line-height   : 52px;
                        font-weight   : 700;
                    }

                    .description {
                        padding-top: 24px;
                        font-weight: 700;
                    }

                    .content {
                        padding-top: 24px;
                        width      : 614px;
                    }

                    .col-lg-12 {
                        padding-left: 0;
                        padding-top : 54px;

                        .btn-danger {
                            margin-right: 16px;
                        }
                    }
                }
            }
        }

        .bg_image {
            img {
                position: absolute;
                top     : 0;
                right   : 0;
            }
        }
    }

}

// Section Summit Theme

.section_summit {
    .container {
        .row {
            .content {
                .summit__content {
                    padding-top   : 16px;
                    width         : 700px;
                    margin        : 0 auto;
                    padding-bottom: 48px;
                    color         : #333333;
                    font-weight   : 700;
                }
            }

            .subcontent {
                display        : flex;
                justify-content: space-around;

                .box-info {
                    display        : flex;
                    align-items    : center;
                    text-align     : center;
                    justify-content: center;
                    height         : 213px;
                    width          : 365px;

                    &:nth-child(odd) {
                        background-color: #213367;
                    }

                    &:nth-child(even) {
                        background-color: #C52128;
                    }

                    .text-box {
                        font-size  : 25px;
                        width      : 300px;
                        font-weight: 600;
                        font-size  : 25px;
                        line-height: 36px;
                    }
                }

            }
        }
    }
}


// Section Our Speaker
.section_our-speaker {
    background-color: #F2F6F9;

    .container {
        .row {
            .subtitle {
                font-weight   : 700;
                font-size     : 25px;
                padding-top   : 48px;
                padding-bottom: 32px;
            }
        }

        .row {
            .profile {
                &__img {
                    width: 100%;
                }

                &__content {
                    background-color: #ffff;
                    color           : #333333;

                    .profile__name {
                        font-weight: 700;
                        font-size  : 18px;
                        padding-top: 24px;
                    }

                    .profile__description {
                        font-weight: 400;
                        font-size  : 16px;
                    }


                }
            }

            .our__content {
                padding-top: 20px;

                .our__text {
                    font-weight: 400;
                    font-size  : 16px;
                    line-height: 28px;
                }

                .btn {
                    margin-top: 80px;
                }
            }
        }
    }
}


//Section Call For Proposals
.section_proposals {
    .container {
        .row {
            padding-top: 80px;

            .col-lg-7 {
                .content__proposals {
                    padding-top: 48px;
                }

                .btn {
                    margin-top: 40px;
                }

            }

            .col-lg-5 {}
        }
    }
}


//Section Summit agenda
.section_agenda {
    background: #F2F6F9;

    .container {
        .row {
            .col-lg-12 {
                .agenda__title {
                    padding-top: 48px;


                }

                .btn {
                    margin-top: 48px;
                }
            }
        }
    }
}


//Section Teaching Exellence Awards
.section_teaching {
    .container {
        .content {
            margin-top: 48px;

            .row {
                .col-lg-8 {
                    .teaching_condition {}

                    .title_deadline {
                        padding-top: 36px;
                    }

                    .btn {
                        margin-top: 36px;
                    }
                }
            }

        }
    }
}


// Section Registration
.section_registration {
    .container {
        .row {
            .col-lg-5 {
                padding-right: 0;
            }

            .col-lg-7 {
                background: #C52128;

                .registration_title {
                    padding-top: 16px;
                    font-weight: 400;
                    font-size  : 16px;
                    line-height: 28px;
                }

            }
        }
    }
}

//Section Considerations
.section_considerations {
    .container {
        .row {
            .col-lg-12 {
                .consider__title {
                    font-style : normal;
                    font-weight: 400;
                    font-size  : 16px;
                    padding-top: 48px;
                }
            }
        }
    }
}



footer {
    background: #213367;

    .footer__top {
        padding-top: 80px;

        .container {
            .row {
                .col-lg-3 {
                    ul {
                        li {
                            padding: 8px 0;

                            a {
                                text-decoration: none;
                                line-height    : 24px;
                                font-size      : 16px;
                            }
                        }
                    }

                }
            }
        }
    }

    .footer__bottom {
        .container {
            p {
                padding-top   : 18px;
                padding-bottom: 44px;
            }
        }
    }
}